@font-face{
  font-family: 'GOTHIC';
  src: url("../font/GOTHIC.TTF");
}

@font-face{
  font-family: 'GOTHICB';
  src: url("../font/GOTHICB.TTF");
}

body {
  margin: 0;
  font-family: 'GOTHIC', Helvetica, sans-serif;
  padding: 0px;
  overflow: scroll;
  overflow-x: hidden;
}

.page{
  margin: 0px; 
  width: 100%;
  overflow: hidden;
}

.top{
  background-image: url("../img/home/firstBack.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100% 100%;
  width: 100%;
  height: 750px;
  position: relative;
}



.topnav {
  padding: 1%;
  text-align: right;
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
}

.topnav a{
  color:#ffffff;
  text-align: center;
  margin-right: 1%; 
  padding: 166px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.11);
  color: #ffffff;
  text-decoration: none;
}

.active {
  background-color: rgba(0, 0, 0, 0.199);
  color: white;
}

.topnav .icon {
  display: none;
}

@font-face{
  font-family: 'facon';
  src: url("../font/Facon.ttf");
}

.head{
  font-family: facon;
  margin-left: 0px; 
  overflow: hidden;
  color: #ffffff;
  text-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.705);
}

.head h1:nth-child(1){
  margin-bottom: 0px; 
  font-size: 80pt;
  text-align: center;
  margin-top: 150pt;
}

.head h1:nth-child(2){
  margin-top: 0px; 
  padding-top: 0px;
  font-size: 70pt;
  margin-left: 67%;
}

.headBottom{
  width: 50%;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
}

.iconic{
  margin: auto;
  
}

.headIcon:nth-child(1){
  margin: auto;
}
.headIcon:nth-child(2){
  margin: auto;
}

.headDate{
  margin: auto;
  font-size: 22pt;
  font-family: facon;
  margin-left: 0px; 
  overflow: hidden;
  color: #ffffff;
  text-shadow: 5px 5px 3px hsla(0, 0%, 0%, 0.705);
}


.main{
  width: 90%;
  margin: auto;
  overflow: hidden;
}


.head2{
  overflow: hidden;
  margin-top: 50pt;
  margin-left: 50pt;
  margin-bottom: 20pt;
  color: #ff0000ee;
  font-family: facon;
  text-shadow: 5px 5px 10px hsla(359, 68%, 56%, 0.7);
}

.head2 h1{
  font-size: 50pt;
}

/* .gmsListBack{
  width: 200px;
  height: 200px;
  background: url("../img/home/gmsListBack.png");
  padding: 2px;
  margin: auto;
  margin-bottom: 50pt;
  overflow: hidden;
  transform: rotate(-9deg);
}

.gmsListFront{
  width: 300px;
  height: 300px;
  transform: rotate(9deg);  
} */



.gmsListBack{
  width: 200px;
  height: 200px;
  padding: 2px;
  margin: auto;
  margin-bottom: 50pt;
  overflow: visible;
}

.gmsListFront{
  width: 300px;
  height: 300px;
}


.parent{
  position: relative;
  top: 20px;
  left: 0px;
  margin: auto;
}

.img1{
  position: relative;
  top: 0px;
  transform: rotate(-9deg);
  left: 0px;
}
.img2{
  position: absolute;
  top: 0px;
  left: 0px;
}


.rules{
  font-family: 'GOTHIC';
  padding: 50px;
  background: url("../img/home/ruleBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 150%;
  color: #ffffff;
  margin-bottom: 20px;
}

.rules h3{
  font-family: GOTHICB;
}

.rules ol{
  margin: 15pt;
  margin-top: 25pt;
}

.rules ol li{
  margin-bottom: 25px; 
}


.competition{
  font-family: GOTHIC;
  background-color: #616161;
  color: #ffffff;
  padding: 15px;
  font-size: 100%;
  overflow: hidden;
}
.competition h3{
  font-family: GOTHICB;
  font-size: 120%;
  padding-left: 13px;
  text-decoration: underline;
}

.eventList{
  margin-top: 10px; 
  padding: 5px;
}

.eventList ul li{
  padding: 10px;
}

.bottomMid{
  padding-left: 60px;
}

.bottomMid h3{
  padding-left: 0px;
}


.paddleft{
  position: relative;
  top: 5px;
  left: 10px;
}


.paddLine{
  padding: 10px;
}

.bottomRight{
  margin-top: 15px; 
}

.sportClubIcon{
  margin: auto;
  overflow: hidden;
}

.gecgIcon{
  margin: auto;
  overflow: hidden;
  margin-top: 15px;
}

.devlope{
  padding-top: 15px;
  overflow: hidden;
  font-family: GOTHICB;
}


/* Media Query starts */
@media only screen and (min-width: 1024px){
  
  /* .img1{
  }
  .img1:hover{
    transform: rotate(9deg);
    overflow: visible;
  } */
  .img2{
    transition-duration: .5s;
  }
  .img2:hover{
    transform: rotate(9deg);
  }
  
}
/* Media Query ends */



/* Media Query starts */

@media only screen and (max-width: 570px) and (min-width: 320px) {

  .top{
    height: 475px;
  }

  .topnav {
    padding: 2%;
    overflow: hidden;
  }

  .head{
  text-shadow: 6px 6px 5px hsla(0, 0%, 0%, 0.705);
  }

  .head h1:nth-child(1){
    font-size: 30pt;
    text-align: center;
    margin-top: 40pt;
  }
  
  .head h1:nth-child(2){
    margin-top: 0px; 
    padding-top: 0px;
    font-size: 20pt;
    margin-left: 67%;
  }

  .headBottom{
    width: 100%;
    overflow: hidden;
  }

  .logical{
    display: flex;
    flex-direction: column-reverse;
  }

  .iconic{
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 10%;
    padding-left: 15%;
  }

  .headDate{
    text-align: center;
    margin: auto;
    padding-bottom: 7%;
  }

  .main{
    padding-top: -50%;
    position: relative;
  }

  .head2{
    overflow: hidden;
    margin-left: auto;
    text-align: center;
  }

  .head2 h1{
    font-size: 25pt;
  }

  .rules{
    padding: 5px;
    font-size: 100%;
    color: #ffffff;
    margin-bottom: 20px;
  }
    
  .rules ol{
    margin: 5pt;
    margin-top: 10pt;
  }
  
  .rules ol li{
    margin-bottom: 10px; 
  }

  .competition{
    padding: 7px;
    font-size: 100%;
    overflow: hidden;
  }
  
  .eventList{
    margin-top: 3px; 
    padding: 1px;
    overflow: hidden;
  }
  
  .eventList ul li{
    padding: 2px;
  }
  
  .bottomMid{
    padding-left: 10px;
  }
  
  .bottomMid h3{
    padding-left: 0px;
  }

  .paddleft{
    position: relative;
    top: 5px;
    left: 10px;
  }
  
  
  .paddLine{
    padding: 2px;
  }
  
  .bottomRight{
    margin-top: 15px; 
  }
  .gecgIcon{
    margin-top: 15px;
  }

}  

/* Media query ends */



/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
  float: right;
  display: block;
  margin: 0px;
  padding: 5px 25px;
  margin-left: 7px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .head2 h1{
    font-size: 20pt;
  }
}   */
